node_modules/
dist/
.next/
out/
coverage/
.turbo/
*.tsbuildinfo
.env
.env.local
.env.*.local
.DS_Store
playwright-report/
test-results/
/tmp
/out-tsc
npm-debug.log*
.vscode/*
!.vscode/extensions.json
.idea/
